<!DOCTYPE html>
<html lang="es">
    
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gira CUCEI</title>
    <link rel="stylesheet" href="src/styles/Fondo.css">
<body>
    <div class="background">
        <img src="/public/atomo.png" alt="Fondo 1">
        <img src="/public/atomo.png" alt="Fondo 1">
        <img src="/public/atomo.png" alt="Fondo 1">
        <img src="/public/atomo.png" alt="Fondo 1">
        <img src="/public/atomo.png" alt="Fondo 1">
        <img src="/public/atomo.png" alt="Fondo 1">
        <img src="/public/atomo.png" alt="Fondo 1">
        <img src="/public/atomo.png" alt="Fondo 1">
        <img src="/public/atomo.png" alt="Fondo 1">
        <img src="/public/atomo.png" alt="Fondo 1">
        <img src="/public/atomo.png" alt="Fondo 1">
        <img src="/public/atomo.png" alt="Fondo 1">
        <img src="/public/atomo.png" alt="Fondo 1">
        <img src="/public/atomo.png" alt="Fondo 1">
        <img src="/public/atomo.png" alt="Fondo 1">
        <img src="/public/atomo.png" alt="Fondo 1">
        <img src="/public/atomo.png" alt="Fondo 1">
        <img src="/public/brillos_1.png" alt="Fondo 2">
        <img src="/public/brillos_1.png" alt="Fondo 2">
        <img src="/public/brillos_1.png" alt="Fondo 2">
        <img src="/public/brillos_1.png" alt="Fondo 2">
        <img src="/public/brillos_1.png" alt="Fondo 2">
        <img src="/public/brillos_1.png" alt="Fondo 2">
        <img src="/public/brillos_1.png" alt="Fondo 2">
        <img src="/public/brillos_1.png" alt="Fondo 2">
        <img src="/public/brillos_1.png" alt="Fondo 2">
        <img src="/public/brillos_1.png" alt="Fondo 2">
        <img src="/public/brillos_1.png" alt="Fondo 2">
        <img src="/public/brillos_1.png" alt="Fondo 2">
        <img src="/public/brillos_1.png" alt="Fondo 2">
        <img src="/public/brillos_1.png" alt="Fondo 2">
    </div>
    <div class="container">
        <h1 class="highlight">Próximamente</h1>
        <h2>Gira CUCEI: Pixeles para Diseñar tu Camino en Ingeniería y Ciencias</h2>
        <p>
            Únete para una experiencia interactiva donde podrás explorar las oportunidades académicas que ofrece el CUCEI. 
            Sumérgete en el mundo de los videojuegos y descubre cómo la ingeniería y la tecnología se fusionan para crear 
            <span class="highlight">experiencias innovadoras y divertidas</span>.
        </p>
        <a href="page.html" class="button">Más Información</a>
    </div>
    <script src="/src/scripts/script_fondo.js"></script>
</body>

</html>