---
import Fondo from "../components/Fondo.astro"
import Barra from "../components/Barra_superior.astro";
import Slider from "../components/Slider.astro";

---
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <Barra/>
    <Fondo/> 
    <br>
    <br> 
    <br> 
    <br> 
    <br>

    <Slider/>    
</body>
</html>