---
import Animacion from "../components/Animacion.astro"
---
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="src/styles/animacion.css">
    <title>Inicio</title>
</head>
<body>

    <header>
    </header>
    <main>
        <section>Carrucel</section>
        <section>Formulario</section>
        <section></section>
        <Animacion/>



    </main>

    <footer>

    </footer>
    
</body>
</html>