<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css" integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="src/styles/calendar.css"> 
    <title>Calendario</title>
</head>
<div class="main">
    <div class="containerCalendario bg-aquamarine-800 bg-opacity-75">
        <div class="left">
            <div class="calendar">
                <div class="month">
                    <i class="fa fa-angle-left prev"></i>
                    <div class="date"></div>
                    <i class="fa fa-angle-right next"></i>    
                </div>
                <div class="weekdays">
                    <div>Domingo</div>
                    <div>Lunes</div>
                    <div>Martes</div>
                    <div>Miercoles</div>
                    <div>Jueves</div>
                    <div>Viernes</div>
                    <div>Sabado</div>
                </div>
                <div class="days">
                     
                </div>
                <div class="goto-today">
                    <div class="goto">
                        <input type="text" placeholder="mm/yyyy" class="date-input mr-2"> 
                        <button class="goto-btn">ir</button>                       
                    </div>
                    <button class="today-btn">Hoy</button>  
                </div>   
            </div>    
        </div>  
    </div>

    <script src="../scripts/calendar.js">

    </script>
</div>
</html>