<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gira CUCEI</title>
    <link rel="stylesheet" href="src/styles/Fondo.css">
</head>
<body>
    <div class="background w-full h-full">
        <img src="/public/atomo.png" alt="Fondo 1">
        <img src="/public/atomo.png" alt="Fondo 1">
        <img src="/public/atomo.png" alt="Fondo 1">
        <img src="/public/atomo.png" alt="Fondo 1">
        <img src="/public/atomo.png" alt="Fondo 1">
        <img src="/public/atomo.png" alt="Fondo 1">
        <img src="/public/atomo.png" alt="Fondo 1">
        <img src="/public/atomo.png" alt="Fondo 1">
        <img src="/public/atomo.png" alt="Fondo 1">
        <img src="/public/atomo.png" alt="Fondo 1">
        <img src="/public/atomo.png" alt="Fondo 1">
        <img src="/public/atomo.png" alt="Fondo 1">
        <img src="/public/atomo.png" alt="Fondo 1">
        <img src="/public/atomo.png" alt="Fondo 1">
        <img src="/public/atomo.png" alt="Fondo 1">
        <img src="/public/atomo.png" alt="Fondo 1">
        <img src="/public/atomo.png" alt="Fondo 1">
        <img src="/public/atomo.png" alt="Fondo 1">
        <img src="/public/atomo.png" alt="Fondo 1">
        <img src="/public/brillos_1.png" alt="Fondo 2">
        <img src="/public/brillos_1.png" alt="Fondo 2">
        <img src="/public/brillos_1.png" alt="Fondo 2">
        <img src="/public/brillos_1.png" alt="Fondo 2">
        <img src="/public/brillos_1.png" alt="Fondo 2">
        <img src="/public/brillos_1.png" alt="Fondo 2">
        <img src="/public/brillos_1.png" alt="Fondo 2">
        <img src="/public/brillos_1.png" alt="Fondo 2">
    </div>
    <script src="/src/scripts/script_fondo.js"></script>
</body>
</html>