---
import LinkFooter from "./Link_footer.astro"
---

<footer class="mt-6">
    <div class="container mx-auto px-8">
        <div class="w-full flex flex-col md:flex-row py-6">
            <div class="flex-1 mb-6 ">
                <a class="text-pink-600 no-underline hover:no-underline font-bold text-2xl lg:text-4xl" href="#">
                    Pagina
                </a>
            </div>
            <div class="flex-1">
                <p class="uppercase text-gray-500 md:mb-6">Links</p>
                <ul class="list-reset mb-6">
                    <LinkFooter descripcion="Preguntas frecuentes" enlace="#"/>
                    <LinkFooter descripcion="Ayuda" enlace="#"/>
                    <LinkFooter descripcion="Soporte" enlace="#"/>
                </ul>
            </div>
            <div class="flex-1">
                <p class="uppercase text-gray-500 md:mb-6">Legal</p>
                <ul class="list-reset mb-6">
                    <LinkFooter descripcion="Terminos de uso" enlace="#"/>
                    <LinkFooter descripcion="Privacidad" enlace="#"/>
                </ul>
            </div>
            <div class="flex-1">
                <p class="uppercase text-gray-500 md:mb-6">Social</p>
                <ul class="list-reset mb-6">
                    <LinkFooter descripcion="Facebook" enlace="#"/>
                    <LinkFooter descripcion="Whatsapp" enlace="#"/>
                    <LinkFooter descripcion="Twitter" enlace="#"/>
                </ul>
            </div>
            <div class="flex-1">
                <p class="uppercase text-gray-500 md:mb-6">Datos</p>
                <ul class="list-reset mb-6">
                    <LinkFooter descripcion="Pagina oficial" enlace="#"/>
                    <LinkFooter descripcion="Sobre nosotros" enlace="#"/>
                    <LinkFooter descripcion="Contacto" enlace="#"/>
                </ul>
            </div>
        </div>
    </div>
</footer>