<div class="top-bar">
    <a href="/">
        <img src="/public/image.png" alt="Universidad de Guadalajara" class="background-image">
        <div class="title-container">
            <span class="main-title text-center">UNIVERSIDAD DE GUADALAJARA</span>
            <span class="sub-title text-center">Red Universitaria e Institución Benemérita de Jalisco</span>
        </div>
    </a>
</div>
