---
import 'styles/TopBar.css';

---

<div class="top-bar">
    <img src="/public/image.png" alt="Universidad de Guadalajara">
    <div class="title-container">
        <span class="main-title">UNIVERSIDAD DE GUADALAJARA</span>
        <span class="sub-title">Red Universitaria e Institución Benemérita de Jalisco</span>
    </div>
</div>
