---
import Fondo from "../components/Fondo.astro";
import Barra from "../components/Barra_superior.astro";
import Slider from "../components/Slider.astro";
import CardsCarreras from "../components/Cards_Carreras.astro";
import Footer from "../components/Footer.astro";
import TopBar from "../components/TopBar.astro";
import Calendario from "../components/Calendario.astro";
import Form from "../components/Form.astro";
---

<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Document</title>
        <link rel="stylesheet" href="src/styles/global.css" />
        <link
            href="https://unpkg.com/tailwindcss@^2.0/dist/tailwind.min.css"
            rel="stylesheet"
        />
        <link rel="stylesheet" href="src/styles/TopBar.css" />
    </head>
    <body>
        <TopBar />
        <Barra />
        <Fondo />

       
    </body>
</html>
